<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Welcome To....</h1>
            <h1 class="font-weight-bold">Bored? Games</h1>
            <p class="lead">Find all kinds of AMAZING games new and old!</p>
            <hr class="my-4">
            <p>Have fun!</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
        <div class="col-md-6">
            <%= image_tag "heroimage", class: "home-image"%>
        </div>
    </div>
</div>

